@font-face {
	font-family: gilroy;
	src: url(../fonts/gilroyextrabold.woff), url(../fonts/gilroyextrabold.woff2);
	font-weight: bold;
}

@font-face {
	font-family: gilroy;
	src: url(../fonts/gilroylight.woff), url(../fonts/gilroylight.woff2);
	font-weight: lighter;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    margin: 0;
    padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
	letter-spacing: inherit;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.caption,
.breadcrumbs-title {
	font-family: gilroy;
	font-weight: bold;
	font-size: 47px;
	line-height: 1.2em;
	letter-spacing: normal;
	color: black;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}


.btn {
	font-family: gilroy;
	font-size: 18px;
	line-height: 8px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: auto;
	padding: 0 40px;
}

.header-logo {
	width: 200px;
	margin-left: 60px;
	margin-top: 20px;
}

.user-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: flex-start;
	flex-basis: 1040px;
	margin: 18px 60px 36px 60px;
}

.user-block .user-search {
	min-width: 200;
	margin-right: auto;
}

.user-block .user-nav {
	display: flex;
	justify-content: flex-end;
	min-width: 500px;
	margin-left: auto; 
}

.user-nav .login {
	margin-right: 215px;
}
/* Не пашет нихуя
.user-nav .item::before {
	content: "";
	width: 5px;
	height: 5px;
	background-color: black;	
}
*/
.user-nav .сompare {
	margin-right: 40px;
}

.main-nav .main-menu {
	flex-basis: 1040px;
	margin: 0 60px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 18px;
	font-family: gilroy;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.catalog .catalog-nav {
	visibility: hidden; 
	font-size: 15px;
	line-height: 36px;
	font-family: gilroy;
	font-weight: lighter;
	text-transform: none;
	letter-spacing: normal;
}

.menu-contacts {
	margin-left: ;
	margin-right: -5px;
}

.menu-warranty {
	margin-right: 110px;
}

.menu-delivery {
	margin-right: 35px;
}

.main-menu .catalog {
	min-width: 300px;
	margin-right: 240px;
}

.slide {
	display: flex;
	justify-content: space-between; 
	width: 1040px;
	margin: -196px 60px 20px 60px;
}

input[id="slider-btn-1"]:checked~.slide:nth-of-type(3), 
input[id="slider-btn-1"]:checked~.slide:nth-of-type(4) {
	display: none;
}

input[id="slider-btn-2"]:checked~.slide:nth-of-type(2), 
input[id="slider-btn-2"]:checked~.slide:nth-of-type(4) {
	display: none;
}

input[id="slider-btn-3"]:checked~.slide:nth-of-type(2), 
input[id="slider-btn-3"]:checked~.slide:nth-of-type(3) {
	display: none;
}

.slide-image {
	min-height: 570px;
	min-width: 490px;
	padding-left: 30px;
	flex: 1;
}

.slide-feature {
	min-height: 570px;
	min-width: 501px;
	padding-left: 19px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	flex: 1;
}

.slide-feature .number {
	position: absolute;
	right: -12px;
	font-size: 12em;
	line-height: 0.85em;
	font-family: gilroy;
	font-weight: bold;
	margin-left: auto;
	align-self: flex-end;
	z-index: -1;
}

.slide-feature .caption {
	margin-top: 78px;
	margin-bottom: 20px;
	letter-spacing: 0.01em;
}

.slide-feature .btn {
	margin-top: 59px;
}

.feature-table {
	font-family: gilroy;
	margin-top: 73px;
}

.feature-table .table-header {
	font-size: 36px;
}

.feature-table .table-data {
	
}

.feature-list {
	display: flex;
	width: 1160px;
	flex-direction: row;
	justify-content: space-between; 

}

.feature-item {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	line-height: 22px;
	font-family: gilroy;
	font-weight: bold;
	width: 160px;
}

.feature-list .feature-item::before {
	content:"";
	margin-bottom: 35px;
	width: 160px;
	height: 160px;
	background-color: #f7e296;
	background-image: url("../img/features.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.feature-item:nth-child(1)::before {
	background-position: 0 0;
}

.feature-item:nth-child(2)::before {
	background-position: -200px 0;
}

.feature-item:nth-child(3)::before {
	background-position: -400px 0;
}

.feature-item:nth-child(4)::before {
	background-position: -600px 0;
}

.feature-item:nth-child(5)::before {
	background-position: -800px 0;
}

.feature-item:nth-child(6)::before {
	background-position: -1000px 0;
}

input[name="toggle2"] {
	display: none;
}

.services-slider {
	margin-top: 85px;
}

.services-slider .container {
	display: flex;
	flex-direction: row;
	margin-bottom: 122px
}

.services-controls {
	margin-right: auto;
	min-width: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 84px 0;
	font-size: 18px;
	text-transform: uppercase;
}

.services-controls label {
	font-weight: bold;
	margin-bottom: 34px;
	align-self: stretch; 
}

.services-slide {
	flex: 2;
	align-self: stretch;
	padding-left: 22px;
	padding-top: 67px;
}

input[id="btn-1"]:checked~.services-slide:nth-of-type(3), 
input[id="btn-1"]:checked~.services-slide:nth-of-type(4) {
	display: none;
}

input[id="btn-2"]:checked~.services-slide:nth-of-type(2), 
input[id="btn-2"]:checked~.services-slide:nth-of-type(4) {
	display: none;
}

input[id="btn-3"]:checked~.services-slide:nth-of-type(2), 
input[id="btn-3"]:checked~.services-slide:nth-of-type(3) {
	display: none;
}

.logotypes .container {
	display: flex;
	width: 1160px;
	padding: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}

.about .container {
	width: 1160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 86px;
}

.about-us {
	padding-right: 80px;
	width: 500px;
	margin-right: auto;
}

.about-us .caption {
	margin-bottom: 40px;
}

.contacts {
	width: 560px;
	margin-left: auto;
	padding-left: 20px;
}

.contacts .caption {
	margin-bottom: 40px;
} 

.title {
	margin-bottom: 30px;
}

.about-features {
	margin-top: 65px;
	margin-bottom: 60px;
	padding-left: 35px;
	font-family: gilroy;
	letter-spacing: 0.03em;	
	line-height: 40px;
	font-weight: bold;
}

.map {
	margin-top: 10px;
	margin-bottom: 65px;
}

.footer {
	min-height: 326px;
	padding-top: 63px;
	background-color: #464646;
	display: flex;
	color: #ffffff;
}
	

.footer .container {
	width: 1160px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.footer-top {
	margin-bottom: 25px;
	display: flex;
}

.footer-logo {
	margin-right: auto;
}

.footer-top .footer-nav {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.footer-nav .basket {
	margin-left: 60px;
}

.footer-nav .сompare {
	margin-left: 61px;
}

.footer-middle {
	min-width: 1160px;
	align-self: center;
	display: flex;
	justify-content: space-between;	
}

.footer-middle .footer-nav {
	flex-basis: 427px;
	margin-right: 42px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18px;
	font-family: gilroy;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.footer-bottom {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	min-width: 1160px;
	margin-top: 48px
}

.footer-social::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 26px;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.footer-social {
	display: flex;
	margin: 10px auto;
}

.footer-social .social-btn {
	font-size: 0;
}

.social-btn:nth-child(1)::before {
	content: "";
	display: block;
	margin-left: 25px;
	width: 38px;
	height: 38px;
	background-image: url(../img/facebook.png);
}

.social-btn:nth-child(2)::before {
	content: "";
	display: block;
	margin-left: 16px;
	width: 38px;
	height: 38px;
	background-image: url(../img/insta.png);
}

.social-btn:nth-child(3)::before {
	content: "";
	display: block;
	margin-left: 17px;
	width: 38px;
	height: 38px;
	background-image: url(../img/twitter.png);
}


.htmlacademy {
	margin-top: 12px;
}